* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

.horizintal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  text-align: center;
}

.horizintal-menu li {
  display: inline-block;
}
.horizintal-menu a {
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}
